@import url("https://fonts.cdnfonts.com/css/spinwerad");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

html,
body,
.content {
  height: 100%;
  min-height: 100%;
  font-family: "Inter";
}

.region,
.modal-title {
  font-family: "Spinwerad";
}

body,
body.modal-open {
  margin: 0;
  width: 100% !important;
  max-width: 100% !important;
  overflow-y: scroll;
  position: relative;
  border-radius: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}

.content {
  position: relative;
  padding-bottom: 100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.modal {
  background: white;
  position: fixed;
  bottom: 0;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  box-shadow: -3px 0px 10px -6px rgb(0 0 0 / 35%) !important;
}

.backButton i {
  font-size: 24px;
}

.modal::-webkit-scrollbar {
  display: none;
}
.modal-header,
.modal-body {
  padding: 1rem 0;
}

.modal-content {
  height: 100%;
  max-height: 100%;
}

.modal-dialog {
  margin: 0;
  position: static;
  height: 100%;
  width: 100% !important;
  max-width: 100% !important;
  margin-bottom: 35px;
}

.stand-item_header-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  font-size: 14px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
}

.stand-item_header-details .v-sep {
  width: 1px;
  height: 14px;
  background: rgba(0, 0, 0, 0.35);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stand-num {
  color: rgba(136, 71, 64, 1);
  font-weight: 600;
}

.stand-item_header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 27px;
  color: rgba(0, 0, 0);
}

.stand-item_header-main i {
  color: rgba(0, 0, 0, 0.35);
}
.stand-item_header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 16px 0;
}

.stand-item_body.modal,
.stand-item_body .modal-dialog,
.stand-item_body .modal-content,
.stand-item_body .modal-header {
  border-radius: 0;
  border: none;
}

#header,
.modal-nav {
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 99;
}

.modal-nav {
  z-index: 99999;
}
.nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.search_container {
  position: sticky;
  z-index: 100;
  padding-bottom: 8px;
  margin-bottom: 15px;
}
.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 16px;
  background-color: rgb(242 242 242);
  border-radius: 8px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.35);
  margin-bottom: 16px;
  box-shadow: 0px 2px 3px 1px rgb(0 0 0 / 14%);
}

.search i {
  width: 20px;
}

.search input {
  border: 0;
  max-width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: transparent;
  color: rgba(0, 0, 0, 0.35);
}

.search input:focus-visible {
  outline: 0;
}

.search input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.35);
}

.search input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.35);
}

.search input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.35);
}

.search input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.35);
}

.search input::placeholder {
  color: rgba(0, 0, 0, 0.35);
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 8px 16px;
  border-radius: 100px;
}

.cart-count {
  color: rgba(136, 71, 64, 1);
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.modal-b-title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.35);
}
.modal-title {
  font-size: 43px;
}

.halo {
  position: fixed;
  pointer-events: none;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  width: 100%;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#ffffff));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  z-index: 999999;
}
